<div *ngIf="!editAdminStatus" class="update-admin mt-5 d-flex flex-column align-items-center text-center">
    <img [src]='profileImage' style="display: block;" width="150px" height="150px" alt="">
    
    <button (click)="editAdminBtnClick()" class="btn btn-link fs-5 mt-3"><i class="fa-solid fa-pen"></i>Edit admin
        details!</button>
</div>

<div *ngIf="editAdminStatus" class="update-details mt-2 p-2 text-center ">
    <h5 style="height: 30px;" class="fs-5">Update admin details</h5>
    <label>
        <input (change)="getFile($event)" type="file" id="profile" style="display: none;">
        <img [src]='profileImage' style="display: block;" width="150px" height="150px" alt="">
    </label>
    <input [(ngModel)]="adminDetail.name" placeholder="Admin Name" class="form-control mb-2" type="text">
    <input [(ngModel)]="adminDetail.password" placeholder="Admin Password" class="form-control mb-2" type="text">
    <div class="d-flex justify-content-around mt-3">
        <input (click)="cancel()" type="button" class="btn btn-warning" value="cancel">
        <input (click)="updateAdmin()" type="button" class="btn btn-success" value="Update">

    </div>

</div>